<nav class="navbar navbar-default transparent navbar-static-top" role="navigation" id="navbar-main">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" routerLink='' routerLinkActive="active">Chess Database</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <search [passedQuery]='query'></search>
      <ul class="nav navbar-nav navbar-right">
        <li routerLink='/games/' routerLinkActive="active"><a routerLink='/games/' routerLinkActive="active">Login</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class='container main-container' >
    <router-outlet></router-outlet>
</div>
<footer class='container text-center'>
<hr/>
&copy; Srvup
</footer>
